[submodule "GameServerApp/Content/Data/LeagueOfMemories-Spells"]
	path = GameServerApp/Content/Data/LeagueOfMemories-Spells
	url = https://github.com/LeagueofMemories/LeagueOfMemories-Spells
[submodule "GameServerApp/Content/Data/LeagueOfMemories-Data"]
	path = GameServerApp/Content/Data/LeagueOfMemories-Data
	url = https://github.com/LeagueofMemories/LeagueOfMemories-Data
