sudo: true
language: csharp
solution: GameServer.sln
dist: trusty
mono: latest

install:
    - wget https://dist.nuget.org/win-x86-commandline/latest/nuget.exe
    - sudo mono nuget.exe restore GameServer.sln
script:
    - xbuild /p:Configuration=Debug GameServer.sln
notifications:
    email: false
