<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
	  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <file value="Logs\" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%F:%L]%newline%message%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+ExclusiveLock" />
      <datePattern value="'LeagueSandbox_'dd.MM.yyyy'.log'" />
      <staticLogFileName value="false" />
      <rollingStyle value="Date" />
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%F:%L]%newline%message%newline" />
      </layout>
    </appender>

    <appender name="AsyncForwarder" type="Log4Net.Async.ParallelForwardingAppender,Log4Net.Async">
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingLogFileAppender" />
      <bufferSize value="5000" />
      <param name="Fix" value="16" />
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="AsyncForwarder" />
    </root>
  </log4net>
</configuration>