<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
      <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <file value="Logs\" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%timestamp [%thread] %level %logger %ndc - %message%newline" />
      </layout>
      <datePattern value="'LeagueSandbox_'dd.MM.yyyy'.log'" />
      <staticLogFileName value="false" />
      <rollingStyle value="Date" />
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="BufferingForwarder" type="log4net.Appender.BufferingForwardingAppender">
      <bufferSize value="512" />
      <lossy value="false" />
      <Fix value="268" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>